In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv('C:/Users/prakh/Desktop/credit-card-customers-analysis/data/BankChurners.csv')
# Display the first few rows
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [4]:
# Get summary statistics
df.describe()

# Check for missing values
df.isnull().sum()

# Check data types
df.dtypes

# Get information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [5]:
# Check for missing values
missing_values = df.isnull().sum()
missing_values = missing_values[missing_values > 0]
missing_values

Series([], dtype: int64)

In [9]:
from scipy.stats import zscore

# Compute Z-scores of the numerical columns
z_scores = df.select_dtypes(include=['float64', 'int64']).apply(zscore)

# Filter out outliers (keep rows with Z-score less than 3)
df_cleaned = df[(z_scores < 3).all(axis=1)]

In [10]:
print("Original dataset shape:", df.shape)
print("Cleaned dataset shape:", df_cleaned.shape)

Original dataset shape: (10127, 23)
Cleaned dataset shape: (9325, 23)

In [11]:
# Example: Checking for negative values in columns where they don't make sense
for column in df.select_dtypes(include=['float64', 'int64']).columns:
    if (df[column] < 0).any():
        print(f"Column {column} has negative values")

# Remove or correct erroneous data points as needed
# df = df[df['some_column'] >= 0]  # Example of removing rows with negative values in 'some_column'

In [12]:
print(df)

       CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
0      768805383  Existing Customer            45      M                3
1      818770008  Existing Customer            49      F                5
2      713982108  Existing Customer            51      M                3
3      769911858  Existing Customer            40      F                4
4      709106358  Existing Customer            40      M                3
...          ...                ...           ...    ...              ...
10122  772366833  Existing Customer            50      M                2
10123  710638233  Attrited Customer            41      M                2
10124  716506083  Attrited Customer            44      F                1
10125  717406983  Attrited Customer            30      M                2
10126  714337233  Attrited Customer            43      F                2

      Education_Level Marital_Status Income_Category Card_Category  \
0         High School        Married     $60K - $80K          Blue
1            Graduate         Single  Less than $40K          Blue
2            Graduate        Married    $80K - $120K          Blue
3         High School        Unknown  Less than $40K          Blue
4          Uneducated        Married     $60K - $80K          Blue
...               ...            ...             ...           ...
10122        Graduate         Single     $40K - $60K          Blue
10123         Unknown       Divorced     $40K - $60K          Blue
10124     High School        Married  Less than $40K          Blue
10125        Graduate        Unknown     $40K - $60K          Blue
10126        Graduate        Married  Less than $40K        Silver

       Months_on_book  ...  Credit_Limit  Total_Revolving_Bal  \
0                  39  ...       12691.0                  777
1                  44  ...        8256.0                  864
2                  36  ...        3418.0                    0
3                  34  ...        3313.0                 2517
4                  21  ...        4716.0                    0
...               ...  ...           ...                  ...
10122              40  ...        4003.0                 1851
10123              25  ...        4277.0                 2186
10124              36  ...        5409.0                    0
10125              36  ...        5281.0                    0
10126              25  ...       10388.0                 1961

       Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
0              11914.0                 1.335             1144              42
1               7392.0                 1.541             1291              33
2               3418.0                 2.594             1887              20
3                796.0                 1.405             1171              20
4               4716.0                 2.175              816              28
...                ...                   ...              ...             ...
10122           2152.0                 0.703            15476             117
10123           2091.0                 0.804             8764              69
10124           5409.0                 0.819            10291              60
10125           5281.0                 0.535             8395              62
10126           8427.0                 0.703            10294              61

       Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  \
0                    1.625                  0.061
1                    3.714                  0.105
2                    2.333                  0.000
3                    2.333                  0.760
4                    2.500                  0.000
...                    ...                    ...
10122                0.857                  0.462
10123                0.683                  0.511
10124                0.818                  0.000
10125                0.722                  0.000
10126                0.649                  0.189

       Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  \
0                                               0.000093
1                                               0.000057
2                                               0.000021
3                                               0.000134
4                                               0.000022
...                                                  ...
10122                                           0.000191
10123                                           0.995270
10124                                           0.997880
10125                                           0.996710
10126                                           0.996620

       Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0                                               0.999910
1                                               0.999940
2                                               0.999980
3                                               0.999870
4                                               0.999980
...                                                  ...
10122                                           0.999810
10123                                           0.004729
10124                                           0.002118
10125                                           0.003294
10126                                           0.003377

[10127 rows x 23 columns]

### Data Preprocessing Decisions

1. **Handling Missing Values:**
   - Numerical values were filled with the mean of the respective columns.
   - Categorical values were filled with the mode of the respective columns.

2. **Handling Outliers:**
   - Outliers were identified using the Z-score method.
   - Rows with Z-scores greater than 3 in any numerical column were removed.

3. **Handling Erroneous Data Points:**
   - Checked for negative values in numerical columns and removed or corrected as needed.

These decisions ensure that the dataset is clean and ready for further analysis and modeling.